.online-user-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img_indicator > img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.img_indicator .online-indicator {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #01b401;
    border-radius:100% ;
    border: 2px solid #ffffff;
    transform: translate(21px, -35px);
}

