.img_message-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.img_message-wrapper.own {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}


.img_message-wrapper > img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  cursor: pointer;
}

.img_message-wrapper > .message-container {
  background: #d2d1d15f;
  max-width: 80%;
  padding: 3px 10px;
  border-radius: 10px 10px 10px 0;
}

/* TODO: customize quote for each message in chat section */


.img_message-wrapper.own > .message-container {
  background: rgb(69, 69, 255);
  max-width: 80%;
  padding: 3px 10px;
  border-radius: 10px 10px 0 10px;
}
.message-container .user-message {
  font-size: 13px;
}

.time-ago {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}
