.right-container {
  flex: 3.5;
  margin-top: 0px;
}

.follow_unfollow-btn {
  display: flex;
  align-items: center;
  color: whitesmoke;
  background: #4778ff;
  padding: 1px 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.follow_unfollow-btn:hover {
  background: #1453ff;
}